.resizable__body {
	background-color: rgb(255, 255, 255);
	margin: 20px;
	display: flex;
	align-items: center;
	box-shadow: 2px 2px 7px 4px rgb(219, 219, 219);
}
.blog__body {
	padding: 10px;
	display: flex;
	margin-bottom: -50px !important;
	border-bottom: 1px solid lightgray;
}
.blog__left {
	top: 10px;
	margin-right: 20px;
}
/* .blog__right {
	border-bottom: 1px solid lightgray;
} */
.blog__image img {
	width: 50px;
	top: 10px;
	height: auto;
	object-fit: contain;
}
.blog__title {
	position: absolute;
	top: 10px;
	color: rgb(59, 59, 59);
	border-bottom: 1px solid red;
	width: fit-content;
}
.blog__content {
	color: rgb(85, 85, 85);
}
.MuiSvgIcon-root,
.expand__arrow {
	position: absolute;
	bottom: -3px;
	right: -3px;
	color: brown;
	transform: rotate(45deg);
	transition: all 0.2s ease;
}

.MuiSvgIcon-root:hover {
	color: brown;
}
